http://backend.jardindoscar.fr, http://www.backend.jardindoscar.fr {
  reverse_proxy directus-jardindoscar:8055
}

http://jardindoscar.fr, http://www.jardindoscar.fr {
  reverse_proxy nextjs-front-jardindoscar:3000
}