services:
  database-jardindoscar:
    container_name: database-jardindoscar
    image: mariadb:latest
    ports:
      - 65051:3306
    volumes:
      - mariadb_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - shared-network

  cache-jardindoscar:
    container_name: cache-jardindoscar
    image: redis:latest
    networks:
      - shared-network

  reverse-proxy:
    image: caddy:latest
    container_name: reverse-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - shared-network

  directus-jardindoscar:
    container_name: directus-jardindoscar
    image: directus/directus:latest
    volumes:
      - ./backend/directus/uploads:/directus/uploads
      - ./backend/directus/database:/directus/database
      - ./backend/directus/extensions:/directus/extensions
    depends_on:
      - cache-jardindoscar
      - database-jardindoscar
    restart: unless-stopped
    environment:
      KEY: ${KEY}
      SECRET: ${SECRET}
      PUBLIC_URL: ${PUBLIC_URL}
      CORS_ENABLED: "true"
      CORS_ORIGIN: "*"

      # DB CONFIGURATION
      DB_CLIENT: ${DB_CLIENT}
      DB_HOST: database-jardindoscar
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}

      REDIS_HOST: cache-jardindoscar
      REDIS_PORT: 6379

      # SMTP CONFIGURATION
      EMAIL_TRANSPORT: "smtp"
      EMAIL_SMTP_HOST: "smtp-relay.brevo.com"
      EMAIL_SMTP_PORT: 465
      EMAIL_FROM: "no-reply@jardindoscar.fr"
      EMAIL_SMTP_USER: ${EMAIL_SMTP_USER}
      EMAIL_SMTP_PASSWORD: ${EMAIL_SMTP_PASSWORD}

      CACHE_STORE: "redis"
      RATE_LIMITER_STORE: "redis"
      SYNCHRONIZATION_STORE: "redis"
      MESSENGER_STORE: "redis"

      # DEFAULT ADMIN USER
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}

      #WEBSOCKETS
      WEBSOCKETS_ENABLED: "true"
      WEBSOCKETS_REST_ENABLED: "true"
      WEBSOCKETS_REST_AUTH: "handshake"
      WEBSOCKETS_REST_AUTH_TIMEOUT: 15

      #STORAGE
      STORAGE_LOCATIONS: "local"
      STORAGE_LOCAL_DRIVER: "local"
      STORAGE_LOCAL_ROOT: "/directus/uploads"

    networks:
      - shared-network

  nextjs-front-jardindoscar:
    container_name: nextjs-front-jardindoscar
    depends_on:
      - directus-jardindoscar
      - reverse-proxy
    build:
      context: frontend
      args:
        - NEXT_PUBLIC_DIRECTUS_URL=${NEXT_PUBLIC_DIRECTUS_URL}
        - NEXT_PUBLIC_ASSETS_URL=${NEXT_PUBLIC_ASSETS_URL}
        - NEXT_PUBLIC_RECAPTCHA_CLIENT_KEY=${NEXT_PUBLIC_RECAPTCHA_CLIENT_KEY}
        - RECAPTCHA_SECRET_KEY=${RECAPTCHA_SECRET_KEY}
    env_file:
      - .env
    networks:
      - shared-network

networks:
  shared-network:

volumes:
  mariadb_data:
  caddy_data:
  caddy_config:


