:root{
    --primary: #dc891c;
    --secondary: #e2dfdd;
    --primaryHover: #C86B17;
    --secondaryHover: #BAB3AF;
    --background: #f1f0ee;
    --fontColor: #19170e;
    --fontSecondary: #8e7657;
    --fontColorLight: #f4f4f4;
}